<div class="logo">
    <a href="index.html" style="text-decoration: none;">
        <img src="assets/images/logo_web.png" alt="Map2Map Logo" style="height: 200px;"/>
    </a>
</div>
<button class="hamburger" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
</button>
<nav class="nav-links">
    <a href="index.html"><i class="fas fa-home"></i> Home</a>
    <a href="services.html"><i class="fas fa-cogs"></i> Services</a>
    <a href="pricing.html"><i class="fas fa-tag"></i> Pricing</a>
    <a href="faq.html"><i class="fas fa-question-circle"></i> FAQ</a>
    <a href="https://platform.map2map.com/"><i class="fas fa-laptop"></i> Platform</a>
    <a href="contact.html"><i class="fas fa-envelope"></i> Contact</a>
</nav> 